/*********************************************************************************************************
**********************************************************************************************************
***
***  ANIMATIONS
***
**********************************************************************************************************
*********************************************************************************************************/


/*==========================================================================
  STAMP
==========================================================================*/

@keyframes stamp {
    0% {
        transform: rotate(15deg) scale(0);
    }
    70% {
        transform: rotate(1deg) scale(1.3);
    }
    100% {
        transform: rotate(-5deg) scale(1);
    }
}


/*==========================================================================
  STAR WARS
==========================================================================*/

@keyframes star-wars {
    0% {
        opacity: 0; 
        transform: translateY(20%) scale(1.25);
    }
    100% {
        opacity: 1; 
        transform: translateY(0) scale(1);
    }
}