/*********************************************************************************************************
**********************************************************************************************************
***
***  CHAPTER LAYOUT STYLES
***
**********************************************************************************************************
*********************************************************************************************************/


.chapter {
    padding: 3.125em 0.625em;
    @include at-break($breakMedium) {
        padding: 6.25em 1.25em;
    }
    @include at-break($breakLarge) {
        padding: 9.375em $gutter;
    }
}

.chapter-inner {
    max-width: $maxWidth;  
    margin: 0 auto; 
}

.chapter-content {
    @include clear;
}