/*
    ____  ____  __    ________________________
   / __ \/ __ \/ /   /  _/_  __/  _/ ____/ __ \
  / /_/ / / / / /    / /  / /  / // /   / / / /
 / ____/ /_/ / /____/ /  / / _/ // /___/ /_/ /
/_/    \____/_____/___/ /_/ /___/\____/\____/

POLITICO Core Print Stylesheet
Author: Michael Marcialis
Contact Email: mmarcialis@politico.com
*/


/*********************************************************************************************************
**********************************************************************************************************
***
***  PRINT STYLES
***
**********************************************************************************************************
*********************************************************************************************************/


@media print {

    /*==========================================================================
      ELEMENT DEFAULTS
    ==========================================================================*/

    * {background:#fff !important; color:#000 !important; text-shadow:none !important; box-shadow:none !important;}

    header, h1, h2, h3, h4, h5, h6 {page-break-after:avoid;}
    dl, img, figure, tr, pre, blockquote {page-break-inside:avoid;}


    /*==========================================================================
      REVEAL HIDDEN CONTENT
    ==========================================================================*/

    .menu .menu-content {max-height:none;}


    /*==========================================================================
      HIDE UNECESSARY ELEMENTS
    ==========================================================================*/

    .global-header, .global-footer {display:none !important;}


    /*==========================================================================
      SET PAGE MARGINS
    ==========================================================================*/

    @page {margin:2cm;}

}

@media print and (color) {

    /*==========================================================================
      APPLY COLOR ADJUST OPTIONS
    ==========================================================================*/

    * {
        -webkit-print-color-adjust:exact;
        print-color-adjust:exact;
    }

}